.red-text {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
}

.green-color {
  background-color: violet;
  color: green;
  font-size: 1.5em;
}

.blue-circle {
  background-color: blue;
  border-radius: 50%;
  border: none;
}