main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 5%;
    border: 1px solid black;
    background-color: blanchedalmond; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: darkslategrey;

}

.card .name {

}

.mail {

}

.phone {

}

.address {

}


.highlight {
    border: 2px solid red;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(97,97,97,1);
    -moz-box-shadow: 7px 6px 5px 0px rgba(97,97,97,1);
    box-shadow: 7px 6px 5px 0px rgba(97,97,97,1);
}